@using Muddle.Domain.Models
@model Muddle.Web.Models.GameModels.GameIndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Game @Model.Game.GameId</h1>

<div class="muddle-map-view">

    <render-map Map="@Model.Game.Map" show-coordinates="true"></render-map>

</div>

@{
    var player = Model.Game.Player;
}

@if (player.IsAtEnd)
{
    <div class="alert alert-success">Congratulations, you have completed the map!</div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <h2>Controls v2</h2>

            @functions {

                private async Task<string> RenderControlDirectionAsync(Directions direction)
                {
                    if (Model.Game.Player.CanMove(direction))
                    {
                        <a asp-controller="Game" asp-action="Move" asp-route-direction="@direction" class="btn btn-primary btn-sm">@direction</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-sm btn-grey" disabled>@direction</button>
                    }
                    return string.Empty;
                }

            }

            <div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        @await RenderControlDirectionAsync(Directions.North)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-center">
                        @await RenderControlDirectionAsync(Directions.West)
                    </div>
                    <div class="col-md-6 text-center">
                        @await RenderControlDirectionAsync(Directions.East)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        @await RenderControlDirectionAsync(Directions.South)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2>State</h2>
            <ul>
                <li>Position: @player.X, @player.Y</li>
                <li>Active Time: @Model.Game.ActiveTimeSpan</li>
                <li>Moves: @player.MovesMade</li>

            </ul>
        </div>
    </div>
}
<script>
    var cell = document.getElementById("muddle-map").rows[@(player.Y + 1)].cells[@(player.X + 1)];
    cell.innerHTML += '<img src="/muddle/img/iconsets/default/player.png" class="icon muddle-map-player"/>';
</script>