<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="~/mdb/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/mdb/css/mdb.min.css" rel="stylesheet">
    <link href="~/mdb/css/style.css" rel="stylesheet">
    <title>@ViewData["Title"] - Muddle</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/prism.css" />
    <link rel="stylesheet" href="~/muddle/css/muddle.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="img/logo-border.svg" height="40" width="40" style="margin-right: 10px;" />

                    Muddle.dev
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Map">Maps</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @if (IsSectionDefined("Masthead"))
    {
        <main role="main" class="pb-3 masthead">
            <div class="container">
                @RenderSection("Masthead", required: false)
            </div>
        </main>
        <div class="container masthead-followup">
            @RenderBody()
        </div>
    }
    else
    {
        <main role="main" class="pb-3">
            <div class="container">
                @RenderBody()
            </div>
        </main>
    }

    <footer class="page-footer font-small blue fixed-bottom">
        <div class="container-fluid text-center">
            &copy; 2020 - Muddle @*- <a asp-area="" asp-page="/Privacy">Privacy</a>*@
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/mdb/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="~/js/prism.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
