@page
@using Muddle.Domain.Models
@model MapModel
@{
    ViewData["Title"] = "Maps page";
}

<style>
    img.icon {
        height: 48px;
        width: 48px;
    }
</style>


<h1 class="display-4">Map Examples</h1>
<p>This page shows examples of code that can be used to generate maps and a render of how those maps look</p>

<h1>Empty Map</h1>
<p>A basic 9x5 map</p>
<render-map Map="@(new MapBuilder(9, 5).Build())"></render-map>
<pre><code>
var map = new MapBuilder(9, 5)
    .Build();
</code></pre>

<h1>Paths</h1>
<p>Paths are the primary surface that a character can travel along</p>

<h2>Single Path</h2>
<p>A single path on an 9x5 map, with the path starting at point 1,2 and travelling East for 7 blocks</p>
<render-map Map="@(new MapBuilder(9, 5).AddPath(1, 2, 7, Directions.East).Build())"></render-map>
<pre><code>
var map = new MapBuilder(9, 5)
    .AddPath(1, 2, 7, Directions.East)
    .Build();
</code></pre>

<h2>Crossroad</h2>
<p>Continuing from the first map, we add a second path starting at point 4,1 and travelling South for 3 blocks</p>
<render-map Map="@(new MapBuilder(9, 5)
                     .AddPath(1, 2, 7, Directions.East)
                     .AddPath(4, 1, 3, Directions.South)
                     .Build())"></render-map>
<pre><code>
var map = new MapBuilder(9, 5)
    .AddPath(1, 2, 7, Directions.East)
    .AddPath(4, 1, 3, Directions.South)
    .Build();
</code></pre>

<h2>Fork Map Example</h2>

<p>A simple map shown like a fork</p>

<render-map Map="@Model.ForkMap"></render-map>

<pre><code>
var map = new MapBuilder(10, 5)
    .AddPath(0, 2, 10, Directions.East)
    .AddPath(5, 0, 5, Directions.South)
    .AddPath(5, 0, 5, Directions.East)
    .AddPath(9, 4, 5, Directions.West)
    .AddPath(0, 3, 3, Directions.North)
    .Build();
</code></pre>

<h2>CM Map Example</h2>

<p>A map with paths that look like a letter C followed by a letter M</p>

<render-map Map="@Model.CMMap"></render-map>

<pre><code>
var map = new MapBuilder(13, 7)
    .AddPath(1, 1, 3, Directions.East)
    .AddPath(1, 1, 5, Directions.South)
    .AddPath(1, 5, 6, Directions.East)
    .AddPath(6, 5, 5, Directions.North)
    .AddPath(6, 1, 3, Directions.East)
    .AddPath(8, 1, 3, Directions.South)
    .AddPath(8, 3, 3, Directions.East)
    .AddPath(10, 3, 3, Directions.North)
    .AddPath(10, 1, 3, Directions.East)
    .AddPath(12, 1, 5, Directions.South)
    .Build();
</code></pre>

<h1>Background Items</h1>
<p>Background items are objects that we cannot interact with directly, but are there for decoration</p>

<h2>Single Item</h2>
<p>A single item on a map</p>
<render-map Map="@(new MapBuilder(9, 5)
                     .AddBackgroundItem(1, 1)
                     .Build())"></render-map>
<pre><code>
var map = new MapBuilder(9, 5)
    .AddBackgroundItem(1, 1)
    .Build()
</code></pre>

<h2>Multiple Items</h2>
<p>Multiple items on a map beside a path</p>
<render-map Map="@(new MapBuilder(9, 5)
                     .AddBackgroundItem(1, 1)
                     .AddBackgroundItem(3, 1)
                     .AddPath(0,2,7,Directions.East)
                     .AddBackgroundItem(2, 3)
                     .AddBackgroundItem(5, 3)
                     .Build())"></render-map>
<pre><code>
var map = new MapBuilder(9, 5)
    .AddBackgroundItem(1, 1)
    .AddBackgroundItem(3, 1)
    .AddPath(0,2,7,Directions.East)
    .AddBackgroundItem(2, 3)
    .AddBackgroundItem(5, 3)
    .Build()
</code></pre>
